@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: circe, sans-serif;
}

body {
  background-color: #d94e4e;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

header {
  grid-column: 2/3;
  border-bottom: 1px solid white;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
  padding-top: 0px;
  padding-right: 12px;
  max-width: 620px;
  margin-top: auto; */
}

/* Red section */

.red {
  background-color: #d94e4e;
  display: grid;
  grid-column: 2/3;
}

.timer {
  background-color: #df6561;
  margin: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-top: 50px;
  border-radius: 6px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.start {
  border: medium none;
  color: rgb(219, 82, 77);
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  margin: 4px 2px;
  width: 200px;
  background-color: white;
  border-radius: 4px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 30px;
}

.pro {
  border-radius: 5px;
  background-color: rgb(219, 82, 77);
  margin: 5px;
  padding: 5px;
}

.milk-the-cat {
  grid-column: 1/2;
  justify-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.white {
  display: grid;
  grid-column: 2/3;
  background-color: white;
}

.text {
  grid-column: 2/3;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: #735c60;
}

li {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: #735c60;
}

h4::after {
  content: "";
  display: block;

  width: 24px;
  padding-top: 8px;
  border-bottom: 4px solid #f05b56;
  opacity: 0.6;
}

/* Nav */

nav {
  display: flex;
}

.logo {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Varela Round", sans-serif;
}
nav a {
  transition: all 0.3s 0.1s;
  color: white;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
}

.nav-button {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(224, 107, 103, 0.801);
  margin: 5px;
  padding: 5px;
}

/* Headings */
h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 140px;
  margin-bottom: 30px;
  color: white;
}

h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color: white;
}
h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  color: #592025;
}

h4 {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: #592025;
}

h6 {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: lightgray;
}
